<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css">
    <title>FaceBeauty</title>
  </head>

  <body>
    <div>
      <h2>FaceBeauty</h2>
      <ul>
        <li>NOVEDADES</li>
        <li>FACIAL</li>
        <li>PROTECCION SOLAR</li>
        <li>RUTINAS</li>
        <li>CONTACTO</li>
      </ul>
    </div>

    <h3>Limpieza facial</h3>

    <img src="./img/facial1.jpg" alt="" />
    <div>
        <h2>$1800</h2>
        <h6>IDRAET Vitamin C Gel de limpieza renovador 180ml</h6>
    </div>

    <img src="./img/facial 2.jpg" alt="" />
    <div>
        <h2>$3170</h2>
        <h6>LIDHERMA AquaShot Loción Micelar x 190ml</h6>
    </div>

    <img src="./img/facial3.jpg" alt="" />
    <div>
       <h2>$2900</h2>
       <h6>LIDHERMA Limpieza Emulsión x 110g</h6>
    </div>

    <img src="./img/facial4.jpg" alt=""/>
    <div>
      <h2>$3580</h2>
      <h6>LIDHERMA Cellactive Cleansing Gel</h6>
    </div>

    <img src="./img/facial5.png" alt="" />
    <div>
      <h2>$1500</h2>
      <h6>BIOBELLUS Gel de Limpieza Facial Avena&Caléndula 300m</h6>
    </div>

    <img src="./img/facial6.jpg" alt="" />
    <div>
      <h2>$1200</h2>
      <h6>IDRAET Agua Micelar 3 en 1 200ml</h6>
    </div>

    <h3>Contactanos</h3>
    <div>Recibí novedades,promociones y beneficios.</div>
    <div>Suscribite de forma gratutita y forma parte de nuestra comunidad.</div>

    <input type="text" placeholder="Email address" />
    <input type="text" placeholder="Full name" />
    <button>Suscribe</button>
    <footer>
        <h6>FaceBeauty</h6>
        <img src="./img/instagram.png" alt="">
        <img src="./img/facebook.png" alt="">
        <h6>Córdoba,Argentina 2023</h6>
    </footer>

  </body>
</html>
