<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>FaceBeauty</title>
</head>
<body>

    <div>
        <h2>FaceBeauty</h2>
        <ul>
          <li>NOVEDADES</li>
          <li>FACIAL</li>
          <li>PROTECCION SOLAR</li>
          <li>RUTINAS</li>
          <li>CONTACTO</li>
        </ul>
      </div>
    <h2>Nuestros mejores productos</h2>
    <img src="./img/facial3.jpg" alt="">
    <img src="./img/facial6.jpg" alt="">
</body><img src="./img/facial 2.jpg" alt="">
<h3> ¿En que te benefician nuestros producto?</h3>
<h6>La limpieza diaria de la piel junto al uso de nuestros productos con activos antiedad ayuda a retardar el envejecimiento cutaneo</h6>

<h6>reduce la sensación de piel grasa, permite remover puntos negros y elimina celulas muertas y restos de polución</h6>
<img src="./img/sonrie.jpg " alt="">
<h3>Contactanos</h3>
    <div>Recibí novedades,promociones y beneficios.</div>
    <div>Suscribite de forma gratutita y forma parte de nuestra comunidad.</div>
    <input type="text" placeholder="Email address" />
    <input type="text" placeholder="Full name" />
    <button>Suscribe</button>
    <footer>
        <h6>FaceBeauty</h6>
        <img src="./img/instagram.png" alt="">
        <img src="./img/facebook.png" alt="">
        <h6>Córdoba,Argentina 2023</h6>
    </footer>
</html>